*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
 background: var(--CyanCream);
}
:root{
  --Softred:hsl(10, 79%, 65%);
   --Cyan: hsl(186, 34%, 60%);
   --Darkbrown:hsl(25, 47%, 15%);
   --Mediumbrown: hsl(28, 10%, 53%);
   --CyanCream: hsl(27, 66%, 92%);
   --Verypaleorange: hsl(33, 100%, 98%);

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:5rem;
  width: 35vw;
  height:13vh;
  border-radius: 10px;
  border:1px solid black;
  border-style: none;
  background-color: var(--Softred);
  color:var(--Verypaleorange);
}
.balance{
  padding: 10px  0 5px 1rem;
  font-weight: 400;
  font-size: 1rem;
}
.dollar{
  padding-left:1rem  ;
  font-weight: 600;
  font-size: 1.5rem;

}
.right-side{
  padding-right:1rem;
  display: flex;
}
.circle{
  border:1px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position:absolute;
  margin-left:-15px; 
  


}
.blackmoon{
  border:1px solid var(--Darkbrown);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background:var(--Darkbrown);
  position: relative;
  opacity: 0.9;
   }
   /* ========================Main============================ */
   .main{
    border:1px solid white;
    width: 35vw;
    height:50vh;
    margin-top: 1rem;
    background-color: var(--Verypaleorange);
    border-radius: 15px;

   }
   .spending{
    padding:1rem;
    font-size: 2rem;
    font-weight:700 ;
    color:var(--Darkbrown);
   }
   .weeks{
    display: flex;
    gap:1rem;
    border: 1px solid white;
    margin-left:2rem;
   }
   .mon{
    border:1px solid white;
    background:var(--Softred);
    height:7vh;
    width: 3vw;
   }
   .tue{
    border:1px solid white;
    background:var(--Softred);
    height:10vh;
    width:3vw
   } 
   .wed{
    border:1px solid white;
    background:var(--Cyan);
    height:15vh;
    width:2.5vw
   }
   .thu{
    border:1px solid white;
    background:var(--Softred);
    height:8.5vh;
    width:3vw
   }
   .fri{
    border:1px solid white;
    background:var(--Softred);
    height:7.6vh;
    width:3vw
   }
   .sat{
    border:1px solid white;
    background:var(--Softred);
    height:13vh;
    width:3vw
   }
   .sun{
    border:1px solid white;
    background:var(--Softred);
    height:9vh;
    width:3vw
   }
   .data{
    display: flex;
    gap: 2rem;
    margin:3px 1rem 1rem 2rem;
   }
   .same{
    color:var(--Mediumbrown);
    font-weight: 100;
    

    
   }
   .footer{
    display: flex;
    justify-content: space-between;
    margin:1rem;

   }
   .total{
    font-size: 1rem;
    color:var(--Mediumbrown)
   }
   .total_amount{
    font-size: 2rem;
    font-weight: 700;

   }
   .right{
    
    padding-top:20px ;
   }
   .prcnt{
    font-size: 0.9rem;
    color: var(--Darkbrown);
    font-weight: 900;
   }
   .last_month{
    font-size: 1rem;
    color: var(--Mediumbrown);
    margin-right: 20px;
   }
